body {
    margin: 0;
    padding: 0;
    font: 13px Arial,Helvetica,sans-serif;
    background-color: #FFFFFF;
}

img {
    border: 0;
}

.help {
    cursor: help;
    margin-left: 7px;
    border: 1px solid transparent;
}

p .help {
    margin: 0;
}

.help:hover {
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(99,99,99, 0.2);
}

#container {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;   
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}

#desconectar {
    position: fixed;
    top: 18px;
    right: 20px;
    z-index: 80;    
    width: 50px;
    height: 50px;
}

#desconectar a:hover {
    background: url("../images/powerOff_02.png") no-repeat scroll left 0 transparent;
}

#desconectar a {
    width: 50px;
    height: 50px;
    color: transparent;
    text-indent: -9999px;
    display: block;
    background: url("../images/powerOff_01.png") no-repeat scroll left 0 transparent;
    /*border: 1px solid red;*/
}

#logo {
    background: url("../images/logo_p.png") no-repeat left top transparent;
    display: inline-block;
    height: 82px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#banner {
    background: url("../images/banner_p3.png") repeat scroll 50% 0 transparent;
    display: inline-block;
    position: absolute;
    height: 82px;
    width: 100%;
    z-index: 0;
}

/*#hormigas ul{
    padding-left: 232px;
    padding-top: 130px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    list-style-type: none;
}

#hormigas ul li {
    display: inline;
}

#hormigas ul li a {
    text-decoration: none;
}*/

h1 {
    /*    width: 156px;
        height: 15px;
        overflow: hidden;*/
    margin: 0;
    color: #307082;
}

h1 span {
    display: none;
    color: #307082;
}

.dialog h1 {
    font-size: 15px;
}

.dialog p {
    margin-top: 7px;
}

h2 {
    font-size: 12px;
    margin: 0;
    color: #307082;
}

h3 {
    margin: 0;
    padding: 0;
    color: #307082;
}

a {
    color: #307082;
}

a:hover {
    color: #D60808;
}

/*
.nota {
    border: 1px solid #D6C63A;
    background-color: #F9E645;
    border-radius: 3px;
    padding: 9px;
    margin: 5px 25px 15px 25px;
    box-shadow: 0 0 3px rgba(9, 9, 9, 0.2);
    text-shadow: 1px 1px 0 rgba(100, 100, 100, 0.2);
;
}*/

.nota {
    margin: 5px 15px 25px 15px; 
}

.tableDataForm input, .tableDataForm textarea,
.tableDataForm select {
    width: 100%;
}

.error {
    color: red;
}

.no-error {
    color: green;
}

input .error {
    border: 1px solid red;
}

label[class=error] {
    float: right;
    position: relative;
    top: -25px;
    margin-right: 20px;
}

.divError .error {
    float: none;
    top: 0;
    margin: 0 0 7px 0;        
}

#respActForm label[class=error] {
    display: block;
    float: none;
    top:0;
}

acronym {
    border: none;
}

#ants {
    position: absolute;
    left: 80px;
    top:80px;
    display: none;
}

#linkList {
    width: 200px;
    position: absolute; 
    top: 100px;
    margin-left: 10px;/*
    background-color: lightgray;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 3px rgba(9, 9, 9, 0.2) inset;
    color: grey;
    text-shadow: 1px 1px 0 #EEEEEE; */   
}/*

#linkList ul {
    padding-left: 10px;
    list-style-type: none;
    margin: 0;
}

#linkList ul li {
    
}*/

.ui-menu {
    background: url("") repeat-x scroll 50% 50% #EEEEEE;
    width: 100%;
    z-index: 2000;
}

#linkList ul li ul{
    width: 235px;
}

.subLevelProc {
    width: 400px !Important;
}

#status {
    font-size: 11px;
    left: 100px;
    position: fixed;
    top: 17px;
    width: auto;
    z-index: 95;
}

#status p, #status label {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 0 lightgray;
}

.statusBlockInfo {
    vertical-align:  top;
    display: inline-block;
    margin-right: 50px;
}

#lopdInfo p, .statusBlockInfo span, 
#recomendacion a, p .titulo {
    font-weight: bold;
    color: #307082;
}

#statusProgressBar {
    display: inline-block;
    height: 11px;
    width: 100px;
    z-index: 99;
}

#statusProgressBar .ui-widget-header {
    background: skyblue;
}

#guia {
    margin: 0;
}

#recomendacion {
    margin-top: 7px;
}

#appArea {
    margin-left: 255px;
    min-height: 500px;
    position: relative;
    top: 100px;  
    margin-bottom: 100px;
}

#indexCheckList {
    margin-left: 50px;
    padding: 15px 0;
}

.checklist {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.checklist .ok{
    list-style-image: url("../images/chk_on.png");  
}

.checklist .no {
    list-style-image: url("../images/chk_off.png");  
}

#footer {
    margin-top: 150px;
    margin-bottom: 20px;
    /*text-align: center;*/
    /*background-color: lightgray;*/
    /*box-shadow: 0 0 3px rgba(9, 9, 9, 0.2) inset;*/
    text-align: center;
    line-height: 26px;
    font-size: 11px;
    /*margin: 20px 0;*/
    padding-top: 20px;
    /*border-radius: 5px 5px 0 0;*/
    border-top: 1px dashed lightgray;
    border-bottom: 1px dashed lightgray;
    vertical-align: text-top;
}

.ulfooter h1 {
    font-size: 16px;
    height: 20px;
}

#footer a {
    /*    color: #fff;*/
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.ulfooter {
    /*position: relative;*/
    text-align: left;
    display: inline-block;
    width: 150px;
    margin: 0 20px;
    vertical-align: text-top;
}

#footerExtraInfo {
    text-align: center;
    border-top: 1px dashed lightgray;
}

#lifechat {
    position:fixed; left: 17px; bottom: 17px;
}

/* Estilos tablas */
even row_selected {
    background-color: red;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


#accordion {
    float: right;
    position: absolute;
    right: 50px;
    top: 0;
    width: 400px
}

/**
 * Index
 */
#operaciones, #tareas {
    width: 45%;
    display: inline-block;
    vertical-align: text-top;
    border: 1px lightgray dashed;
    margin-left: 7px;
    padding: 7px;
    background-color: whitesmoke;
    border-radius: 5px
}

#tareas ul li {
    list-style-image: url("../images/flecha.png");
}


/** 
 * Estilos de los protocolos
 */
.resizable { 
    height: 200px; 
    padding: 0.5em; 
    overflow: auto;
    margin-bottom: 5px;
}
.protocols .ui-widget-header { 
    text-align: center; 
    margin: 0; 
    padding: 4px; 
}

.protocols {
    display: inline-block;
    width: 49%;
}

#enabledProtocolsContainer {
    float: right;
}

#selectedProtocol {
    /*float:right;
    position: relative;*/
    /*top: -200px;*/
    height: 200px;
    font-size: 19px;
    text-align: justify;
    /*     right: 100px;*/
}

#selectedProtocoldiv {
    width: 100%;
}

/*.dataTables_filter {
    display: none;
}*/

.add_delete_toolbar, #addGroup, #genDocSeg {
    margin-top: 5px;
}

.selectableItem { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin: 3px; 
    padding: 0.4em; 
    font-size: 1.4em; 
    min-height: 18px;                   
    position:relative;
}

.selectableItem:active { background: #FECA40; }
.selectableItem:hover { background: #F39814; color: white; }

.dropme {
    width: 100%; 
    min-height: 90% 
}
.hiddenID, .hiddenProc {
    display: none;
    /*visibility:hidden;*/
}
.ui-layout-center, .ui-layout-west {
    display: block;
}

.ui-autocomplete {
    max-width: 600px !Important; 
}

.ui-autocomplete-loading {
    background: white url('../images/autocomplete.gif') right center no-repeat;
}

/**
 * Estilos genericos form
 */

.detailsForm {
    width: 990px;
}

.selector {
    width: 975px;
}

form label {
    padding-top: 5px;
    display: inline-block
}

/** 
 * Estilos Forms input
 */

.tbSpinner{
    border: 0 !Important;
    margin: 3px 0;
}

input[type="text"], textarea, select  {
    border: 2px solid lightgrey;
    border-radius: 3px;
    outline: 0;
}

input[type="text"]:focus, textarea:focus, select:focus {
    border: 2px solid deepskyblue;
    box-shadow: 0 0 2px deepskyblue;
    outline: 0
}

input[type="text"]:hover, textarea:hover, select:hover {     
    border: 2px solid #ffce36;
    box-shadow: 0 0 2px #ffde76;
    outline: 0
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
}

/**
 * Estilos Forms Select
*/
.transformSelect {
    clear: both;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.transformSelect li {
    height: 22px;
    list-style: none outside none;
    position: relative;
    /*width: 158px;*/
}
.transformSelect span, .transformSelect input[type="text"] {
    background: url("../images/transformselect.gif") no-repeat scroll right top #FFFFFF;
    /*border: 1px solid #CCCCCC;*/
    border: 2px solid lightgrey;
    border-radius: 3px;
    /*color: #575757;*/
    cursor: pointer;
    display: block;
    height: 20px;
    left: 0;
    line-height: 20px;
    margin: 0;
    padding: 0 3px;
    top: 0;
    /*width: 150px;*/
}
.transformSelect input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 0 none;
    float: left;
    /*width: 125px;*/
}
.transformSelect ins {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/transformselect.gif") no-repeat scroll right top #FFFFFF;
    border-color: #CCCCCC #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    width: 25px;
}
.transformSelect ul {
    border: 1px solid #CCCCCC;
    left: 0;
    position: absolute;
    top: 21px;
    padding-left: 0;
    /*width: 156px;*/
}
.transformSelect ul span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
}
.transformSelect ul span:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
.transformSelect ul li {
    height: auto;
}
.transformSelect li.group ul {
    border-left: 0 none;
    border-radius: 0 0 0 0;
    border-right: 0 none;
    position: relative;
    top: 0;
}
.transformSelect li.group span {
    font-style: italic;
}
.transformSelect li.group ul span {
    font-style: normal;
    /*text-indent: 20px;*/
}

.ui-datepicker {
    z-index: 3000 !Important;
}

/**
 * Estado de la aplicación.
 */
#appStatus {
    position: fixed;
    z-index: 95;
    right: 0;
    top: 0;
    background-color: darkred;
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 3px;
    display: none;
}

#appMessages {
    left: 50%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 2000;
    display: none;
}

/**
 * Formularios
 */

form input, form textArea, form select {
    width: 100%;
}

form input[type="radio"] {
    width: auto;
}

form .miniInput {
    width: 200px !Important;
    margin-top: 11px;
}

#buttonBar {
    display: inline-block;
}

.button {
    width: auto !important;
    margin: 5px !important;
}

.tableButtons {
    margin-top: 5px;
}

fieldset {      
    border: 1px solid lightgrey;
}

legend {
    font-weight: bold;
    color: #307082
}

.ulSelectorFielset{
    width:443px;
    display: inline-block;
}

#plantillaForm fieldset {
    width: 500px;
}

/**
 * Tooltips.
 */
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/**
 * Identificación por colores del nivel de seguridad.
 */
.level {
    width: 9px;
    height: 9px;
}

.enlacesRelacionados ul li {
    list-style-image: url("../images/flecha.png");
    margin: 4px 0;
}

.plantillaDesc {
    max-width: 600px;
}

td .plantillaDesc {
    margin: 0;
    padding: 0;
    max-height: 100px;
    max-width: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*************************/

.blockInfo {
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    margin: 20px 20px 20px 0;
    padding: 15px 15px 10px 15px;
    background: url("") repeat-x scroll 50% 50% #EEEEEE;
}

.blockInfo p {
    margin-bottom: 0;
}

.blockInfo .buttonPannel {
    text-align: right;
}

.blockInfo h2 {
    font-size: 17px;
}


/** Ayuda en pantalla **/
#screenHelp {
    cursor: pointer;
    background-color: #4D90FE;
    border: 1px solid #3079ED;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    padding: 5px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: .8em;
}