<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
        <error-code>500</error-code>
        <location>/errorPages/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/errorPages/dataTableError.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.jkingii.web.files.upload</servlet-class>
        <init-param>
            <param-name>docsDirectory</param-name>
            <param-value>/tmp/OpenLOPD</param-value>
        </init-param>
        <init-param>
            <param-name>tempDir</param-name>
            <param-value>/tmp</param-value>
        </init-param>
        <init-param>
            <param-name>maxFileSize</param-name>
            <param-value>51200000</param-value>
        </init-param>
        <init-param>
            <param-name>maxMemSize</param-name>
            <param-value>4096</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.jkingii.web.files.download</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>SistemConfig</servlet-name>
        <servlet-class>com.openlopd.servlets.SistemConfig</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>generation</servlet-name>
        <servlet-class>com.jkingii.web.files.generation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>SistemConfig</servlet-name>
        <url-pattern>/SistemConfig</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>generation</servlet-name>
        <url-pattern>/generation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>DocumentoSeguridadFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.DocumentoSeguridadFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#DocumentoSeguridadFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PlantillaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.documentos.PlantillaFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#PlantillaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProcedimientoDisponibleFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.ProcedimientoDisponibleFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#ProcedimientoDisponibleFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProcedimientoHabilitadoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.ProcedimientoHabilitadoFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#ProcedimientoHabilitadoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TipoProcedimientoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.TipoProcedimientoFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#TipoProcedimientoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmpresaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.empresas.EmpresaFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#EmpresaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DestinatarioFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.DestinatarioFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#DestinatarioFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ModoDestruccionFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.ModoDestruccionFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#ModoDestruccionFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TipoFormaPagoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.facturacion.TipoFormaPagoFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#TipoFormaPagoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TipoSoporteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.TipoSoporteFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#TipoSoporteFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SoporteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.SoporteFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#SoporteFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>IncidenciaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.IncidenciaFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#IncidenciaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PersonaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.empresas.PersonaFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#PersonaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RegistroSalidaSoporteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.RegistroSalidaSoporteFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#RegistroSalidaSoporteFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RegistroEntradaSoporteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.RegistroEntradaSoporteFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#RegistroEntradaSoporteFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ContadorIncidenciasFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.ContadorIncidenciasFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#ContadorIncidenciasFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FicheroFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.FicheroFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#FicheroFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GenerarDocumentos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.business.files.GenerarDocumentosLocal</local>
        <ejb-link>GestionLopd-ejb.jar#GenerarDocumentos</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProvinciaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.common.localizacion.sessionbeans.ProvinciaFacadeLocal</local>
        <ejb-link>common-ejb.jar#ProvinciaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LocalidadFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.common.localizacion.sessionbeans.LocalidadFacadeLocal</local>
        <ejb-link>common-ejb.jar#LocalidadFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>Localizacion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.common.localizacion.business.LocalizacionLocal</local>
        <ejb-link>common-ejb.jar#Localizacion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TipoActividadPrincipalFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.TipoActividadPrincipalFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#TipoActividadPrincipalFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LinkListFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.interfaz.LinkListFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#LinkListFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OperacionLopdFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.interfaz.OperacionLopdFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#OperacionLopdFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>Seguridad</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.business.seguridad.SeguridadLocal</local>
        <ejb-link>GestionLopd-ejb.jar#Seguridad</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>Grupos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.business.seguridad.GruposLocal</local>
        <ejb-link>GestionLopd-ejb.jar#Grupos</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmpresaSedeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.empresas.EmpresaSedeFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#EmpresaSedeFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PersonaFicheroFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.PersonaFicheroFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#PersonaFicheroFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FicheroPredefinidoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.FicheroPredefinidoFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#FicheroPredefinidoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RegistroAccesoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.lopd.RegistroAccesoFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#RegistroAccesoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FileDataBaseFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.documentos.FileDataBaseFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#FileDataBaseFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PreguntaFrecuenteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.PreguntaFrecuenteFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#PreguntaFrecuenteFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OutBoxFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.jkingii.mail.sessionbeans.OutBoxFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#OutBoxFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ShadowFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.openlopd.sessionbeans.seguridad.ShadowFacadeLocal</local>
        <ejb-link>GestionLopd-ejb.jar#ShadowFacade</ejb-link>
    </ejb-local-ref>
</web-app>
